<div class="row">
  <div class="small-6 columns">
    <h3>{{'Contacts'|_}}</h3>
  </div>
  <div class="small-6 columns text-right">
    <a id="newcontact" class="button tiny radius fa fa-plus topright" ng-disabled="(contactFormShown===true)" ng-click="modals.focus('new-contact-name'); contactFormShown = true"> {{'New contact'|_}}</a>
  </div>
</div>
<div class="panel" ng-show="contactFormShown === true">
  <form name="createContactForm" ng-submit="createContact(newContact)" novalidate>
    <div class="row">
      <div class="small-12 columns">
        <div class="row collapse hide-for-small">
          <div class="medium-2 columns">
            <label>{{'Name'|_}}</label>
          </div>
          <div class="medium-10 columns">
            <label>{{'Address'|_}}</label>
          </div>
        </div>
        <div class="row collapse">
          <div class="medium-2 columns">
            <input id="new-contact-name" ng-model="newContact.name" type="text" class="radius prefix" placeholder="{{'Name for this contact...'|_}}" required />
          </div>
          <div class="medium-8 columns">
            <input autofocus ng-model="newContact.address" class="prefix" type="text" placeholder="{{'Bitcoin address...'|_}}" required btc-address />
          </div>
          <div class="small-6 medium-2 columns"><a href="" ng-click="getAddressFromQRCode(newContact)" class="button radius postfix fa fa-qrcode">{{'Scan QR'|_}}</a></div>
        </div>
      </div>
    </div>
    <div class="row text-right">
      <div class="small-12 columns">
        <a href="" ng-click="contactFormShown = false" class="button alert small radius">{{'Cancel'|_}}</a>
        <input ng-disabled="createContactForm.$invalid" type="submit" class="button small radius" value="{{'Save'|_}}" />
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="small-12 columns">
    <div class="contact-mosaic-full">
      <ul class="contacts large-block-grid-5 medium-block-grid-3 small-block-grid-2">
        <li ng-repeat="contact in contacts | orderBy:'name' track by $index">
          <div ng-click="openContact(contact)" class="contact-mosaic-square">
            <identicon icon-size="64" hash="contact.hash" title="{{contact.address}}"></identicon>
            <div class="contact-label"> {{contact.name}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
