<div class="row collapse">
	<div class="large-10 large-centered columns cardflipper">
		<div class="wizard" ng-controller="AccountCreateCtrl">
			<form name="newPocketForm" ng-submit="createPocket()">
				<div class="row collapse topmargin">
					<div class="small-9 columns">
						<input type="text" maxlength="25" auto-focus ng-model="newPocket.name" placeholder="{{'Name your account...'|_}}" />
					</div>

					<div class="small-3 columns">
						<input type="submit" class="button postfix radius" value="{{'Create'|_}}" ng-click="createPocket()"/>
					</div>
				</div>
			</form>
		</div>

	</div>
</div>
